body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

main {
  background-repeat: no-repeat;
  background-color: #000;
  background-image: url('../images/background.png');
  height: 100vh;
  background-position: center;
  position: relative;
  text-align: center;
  min-width: 1000px;
}

.main-header {
  background-color: #393852;
  text-align: center;
  border-bottom: 3px solid #C8C2E2;
  overflow: hidden;
  min-width: 595px;
}

.logo {
  display: inline-block;
  margin-left: 52px;
}

.logo > h1 {
  font-family: 'VT323', monospace;
  font-size: 60px;
  letter-spacing: 4px;
  padding: 10px;
  display: inline-block;
}

.logo > img {
  display: inline-block;
}

.logo > img:first-child {
  transform: scaleX(-1);
}

.game-area {
  position: relative;
  border: 0;
  height: 300px;
  width: 800px;
  display: inline-block;
  margin: 20px auto;
}

#game-canvas {
  position: absolute;
  background: transparent;
  border: 2px solid #C8C2E2;
  z-index: 2;
  top: 0;
  left: 0;
}

#background-canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

#foreground-canvas {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.corgi {
  position: absolute;
  z-index: 3;
  right: 10px;
  bottom: 20px;
  transform: scaleX(-1);
  pointer-events: none;
  transition: all 3s;
}

.run-away {
  right: -100px;
  opacity: 0;
}

.hanging-dog {
  float: right;
  margin: 0 10px 10px 10px;
}

.sidebar-clear {
  float: left;
  width: 181px;
  height: 300px;
}

@media only screen and (max-width: 1181px) {
  .sidebar-clear {
    display: none;
  }
}

.links {
  float: right;
  display: inline-block;
  margin-right: 20px;
}

.links > a {
  display: block;
  margin: 24px 10px;
  float: left;
}

.gameplay-nav {
  width: 782px;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  z-index: 5;
  bottom: 0;
}

.gameplay-nav > button {
  font-family: 'VT323', monospace;
  letter-spacing: 1px;
  padding: 10px 18px;
  margin: 0 20px;
  width: 100px;
  font-size: 24px;
  text-shadow: 0 0 8px black;
}

#easy-button {
  color: #67A4E0;
}

#medium-button {
  color: #FFC90E;
}

#hard-button {
  color: #FF4711;
}

#how-to-play-button:hover {
  color: #b9b9b9;
}

#easy-button:hover {
  color: #4b8dcd;
}

#medium-button:hover {
  color: #e3b000;
}

#hard-button:hover {
  color: #db3301;
}

.how-to-play-container {
  position: absolute;
  z-index: 6;
  top: 12px;
  left: 100px;
  background: #fff;
  width: 600px;
  border-radius: 5px;
  font-size: 13px;
  color: #222;
  padding: 5px 10px;
  position: relative;
  display: none;
}

.how-to-play-open {
  display: block;
}

.how-to-play-container > section {
  width: 45%;
  padding: 10px 15px;
  text-align: left;
}

.how-to-play-container > section > h2 {
  font-size: 32px;
  letter-spacing: 1px;
  font-family: 'VT323', monospace;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px  solid #aaa;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fcff6e;
}

.dio {
  background: url('../images/player-sprites.png') no-repeat -5px -89px;
  width: 44px;
  height: 64px;
  margin: 10px 35px;
  display: inline-block;
}

.sleeping {
  display: inline-block;
  margin: 10px 30px;
}

.story {
  float: left;
}

.how-to-play {
  float: right;
}

.how-to-play > p > small {
  font-weight: 300;
}

.story > p > strong {
  font-weight: 700;
  color: #cd3636;
}

.tree {
  background: url('../images/tree-sprites.png') no-repeat 0px 0px;
  height: 60px;
  width: 100px;
  background-size: cover;
  margin: 5px auto;
}

.bird {
  background: url('../images/bird-sprites.png') no-repeat -65px -16px;
	width: 57px;
	height: 38px;
  margin: 5px auto;
}

#close-how-to-play {
  position: absolute;
  font-weight: bold;
  right: 10px;
  top: 10px;
}

#close-how-to-play:hover {
  text-decoration: underline;
  color: #8a8a8a;
}

.main-menu {
  position: absolute;
  z-index: 4;
  background: black;
  top: 2px;
  left: 2px;
  bottom: -2px;
  right: -2px;
  display: block;
}


.main-menu > h2 {
  font-size: 40px;
  margin-top: 20px;
  font-family: 'VT323', monospace;
  letter-spacing: 2px;
  text-shadow: -1px 0 #393852, 0 1px #393852, 1px 0 #393852, 0 -1px #393852;
}

.high-scores {
  border: 2px solid #C8C2E2;
  width: 480px;
  margin: 10px auto;
  padding: 10px;
  font-family: 'VT323', monospace;
}

.high-scores li {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 3px;
}

.high-scores h2 {
  font-size: 28px;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.local-high-score {
  float: left;
  text-align: left;
  width: 220px;
}

.global-high-score {
  float: right;
  text-align: left;
  width: 220px;
}

.right-score {
  float: right;
}

.dog-menu-sprite {
  background: url('../images/dog-eating.gif');
	width: 64px;
	height: 38px;
  position: absolute;
  right: 60px;
  top: 50%;
}

.player-menu-sprite {
  background: url('../images/player-menu.gif');
	width: 50px;
	height: 75px;
  position: absolute;
  left: 60px;
  top: 40%;
}

.game-over {
  display: block;
  position: absolute;
  z-index: 4;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 20px;
}

.game-over > button {
  font-size: 24px;
  color: #FEF86C;
  position: absolute;
  left: 35px;
  top: 21px;
  text-shadow: 0 0 4px black;
}

.game-over > button:hover {
  text-shadow: 0 0 1px black;
}


.high-score-form {
  position: absolute;
  left: 400px;
  transform: translateX(-50%);
  top: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.high-score-form > label {
  font-size: 24px;
}

.high-score-form input {
  background: rgba(185,185,185,.3);
  border: 1px solid black;
  color: black;
  padding: 2px 8px;
  text-align: left;
  width: 100px;
  font-size: 20px;
}

.high-score-form > button {
  color: #FEF86C;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 1px;
}

.high-score-form > button:hover {
  color: #fffc9f;
}

.close {
  display: none;
}

#mute-button {
  position: absolute;
  z-index: 5;
  left: 90px;
  top: 21px;
  font-size: 24px;
  color: #FEF86C;
  text-shadow: 0 0 4px black;
  font-family: 'VT323', monospace;
}

#mute-button:hover {
  text-shadow: 0 0 1px black;
}

.toggled {
  text-decoration: line-through;
}
